script(type='text/javascript')
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '359665827407633', // App ID
			status     : true, // check login status
			cookie     : true, // enable cookies to allow the server to access the session
			xfbml      : true  // parse XFBML
		});
	};
	// Load the SDK Asynchronously
	(function(d){
		var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
		js = d.createElement('script'); js.id = id; js.async = true;
		js.src = "http://connect.facebook.net/en_US/all.js";
		d.getElementsByTagName('head')[0].appendChild(js);
	}(document));

	$(document).ready(function() {
		window.app = new App();
	});

h1=title
#page
	#fb-root
	button#add-bookmark Create new bookmark
	div Url:
		input#bookmark-url(type='text', value=address)
	div Image Url:
		input#bookmark-image-url(type='text')
		div Popular images
			each image in pop_images
				img(src=image)
		div Suggested images
			each image in goog_images
				img(src=image)
	div Tags:
		input#bookmark-tags(type='text')
		div Popular tags
			each tag in pop_tags
				li= tag
		div Suggested tags
			each tag in top_tags
				li= tag.term
	div Private:
		input#private-bookmark(type='checkbox')
	div Group:
		select#group-name
			each name in groups
				option= name