script(type='text/javascript')
	window.fbAsyncInit = function() {
		FB.init({
			appId      : !{config.fb_id}, // App ID
			status     : true, // check login status
			cookie     : true, // enable cookies to allow the server to access the session
			xfbml      : true  // parse XFBML
		});
	};
	// Load the SDK Asynchronously
	(function(d){
		var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
		js = d.createElement('script'); js.id = id; js.async = true;
		js.src = "http://connect.facebook.net/en_US/all.js";
		d.getElementsByTagName('head')[0].appendChild(js);
	}(document));

	var socket = io.connectWithSession();
	$(document).ready(function() {
		window.saveScreenControl = new SaveScreenController();
		window.imgControl = new ImagesController(!{JSON.stringify(images)});
		var tags = !{JSON.stringify(tags)};
		var tagsWithAmounts = new Array();
		tags.forEach(function(tg){
			tagsWithAmounts.push({tag: tg});
		});
		(new TagsController(tagsWithAmounts, { el: '#suggested-tags'})).showAll();
	});

#page
	img#savescreen-logo(src='../images/Logo_big.png')
	#fb-root
	input#bookmark-title(type='text', value=title)
	.not-important#bookmark-url=address
	br
	#image-selection 
		.semi-important Image
		#current-image
		#suggested-images
		input#bookmark-image-url(type='text')
	.clear
	br
	div
		.semi-important Tags
		span.not-important
			| (comma separated)
		input#bookmark-tags(type='text')
		div Suggested tags
		ul#suggested-tags
		.clear
	.clear
	br
	.semi-important Description
		textarea#bookmark-desc=description
	br
	#save-footer
		#priv-div.semi-important Private
			input#private-bookmark(type='checkbox')
		#group-name-div to
			select#group-name
				each name in groups
					-if(name === sugg_group)
						option(selected='selected')=name
					-else
						option=name
		button#add-bookmark Save